// Practically a copy-paste of
// https://github.com/fireship-io/222-responsive-icon-nav-css

@import "variables";


.raw-container {
  margin-left: 5em;
}

.s-navbar {
  z-index: 10;
  position: fixed;
  background-color: var(--primary-navbar-color);
  transition: width 200ms ease;
}

.s-navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.s-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--dark-accent-color);
  background: var(--secondary-navbar-color);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.s-logo svg {
  transform: rotate(0deg);
  transition: 250ms;
}

.s-logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.s-navbar:hover .s-logo svg {
  transform: rotate(-360deg);
}

.s-nav-item {
  width: 100%;
}

.s-nav-item:last-child {
  margin-top: auto;
}

.s-nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--medium-accent-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.s-nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--secondary-navbar-color);
  color: var(--soft-color);
}

.s-link-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms linear;
  margin-left: 1rem;
}

.s-nav-link svg {
  width: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  height: 2rem;
  min-height: 2rem;
  max-height: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--light-grey-color);
}

.fa-secondary {
  color: var(--medium-accent-color);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

// Mobile
@media only screen and (max-width: 600px) {
  .s-navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .s-navbar-nav {
    flex-direction: row;
  }

  .s-logo {
    display: none;
  }

  .s-nav-link {
    justify-content: center;
  }

  .s-nav-link svg {
    margin: 0 auto;
  }

  .s-link-text {
    display: none;
  }

  .raw-container {
    margin-left: 0;
    margin-bottom: 5em;
  }

  .content-container {
    padding: 1rem;
  }
}

// Desktop
@media only screen and (min-width: 600px) {
  .s-navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .s-navbar:hover {
    width: 16rem;
  }

  .s-navbar:hover .s-link-text {
    visibility: visible;
    opacity: 1;
  }

  .s-navbar:hover .s-logo svg
  {
    margin-left: 12.5rem;
  }

  .s-navbar:hover .s-logo-text
  {
    left: 0px;
  }

  .s-logo-duplicate {
    display: none;
  }
}
