:root {
  // Colors
  --white-color: #F2EDFF;
  --soft-color: #EAE6F7;
  --light-accent-color: #A98CFF;
  --medium-accent-color: #9673FF;
  --dark-accent-color: #3D2485;
  --black-color: #31343f;
  --light-grey-color: #C1BECC;
  --hard-contrasty-color: #81cc7e;
  --primary-navbar-color: #23232e;
  --secondary-navbar-color: #141418;
  --shadow-color: rgba(23, 55, 87, 0.1);

  // Fonts
  --font-family: 'Karla', sans-serif;

  // Misc
  --transition-speed: 600ms;
}
